@font-face {
  font-family: Ubuntu;
  src: url("./assets/Ubuntu-R.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Ubuntu, "Courier New", Courier, monospace;
}

ul,li{
  list-style: none;
}

textarea{
  width: 100%;
  min-height: 100%;
  color: currentColor;
  font-size: 1.2em;
  font-family: inherit;
  background: none;
  border: none;
  resize: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
}